.log-in-icon {
    width:50%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 25rem;
}

.log-in-button {
    background-color: rgb(41, 111, 190);
    color: whitesmoke;
    padding: 1rem 5rem;
    border-radius: 25px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.log-in-button:hover {
    background-color: rgb(70, 117, 204);
    transition: 0.5s ease-in-out;
}
