.log-out-button {
    background-color: #000;
    color: #f1f1f1;
    padding: 1rem 5rem;
    border-radius: 25px;
    display: flex;
    margin: 1rem auto;
    border: none;
    cursor: pointer;
    position: absolute;
}

.log-out-button:hover {
    background-color: rgb(26, 26, 27);
    transform: scale(1.02);
    transition: 0.3s ease-out;
}