
.form {
    padding: 2em;
}

.send-section {
    width: 50%;
    margin: 0 auto;
    background-color: #000;
}

.input-box {
width: 70%;
background-color: whitesmoke;
padding: 1em 2em;
border-radius: 25px;
}

.send-button {
    background-color: rgba(225, 36, 96, 0.8);
    color: whitesmoke;
    padding: 1em 2em;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.send-button:hover {
    background-color:  rgba(194, 40, 89, 0.8);
    transform: scale(1.02);
    transition: 0.3s ease-out;
}